<%- include('./partials/header') %>

<body>
    <% pets.forEach(function(p) { %>
        <div id="home">
                    <tr>
                        <td>
                            <div id="name">
                                <%= p.petName %>
                            </div>
                        </td>
                        <br>
                        <td>
                            <%= p.title %>
                        </td>
                        <br>
                        <br>
                        <div id="date-created">
                            <%= p.createdAt.toLocaleDateString() %>
                          </div>
                        <td>
                            <img src="<%= p.petImg %>" alt="" id="posts">
                        </td>
                        <br>
                        <td><a href="/pets/show/<%= p._id %>" id="details">View and Rate</a></td>
                        <br>
                    </tr>
                    </div>
                    <br>
                    <% }); %>
        </body>

        </html>
        <%- include('./partials/footer') %>