<%- include('./partials/header') %>

    <body>
        <% pets.forEach(function(p) { %>
            <tr>
                <td>
                    <%= p.petName %>
                </td>
                <td>
                    <%= p.pet %>
                </td>
                <td><a href="/pets/show <%= p._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
    </body>

    </html>
    <%- include('./partials/footer') %>