<%- include('../partials/header') %>

    <body>
        <br>
        <tr>
            <td>
                <%= pet.petName %>
            </td>
            <br>
            <td>
                <%= pet.title %>
            </td>
            <br>
            <td>
                <img src="<%= pet.petImg %>" alt="" id="">
            </td>
            <br>
            <br>
            <form id="add-review-form" method="POST"
            action="/ranks/create">
            <label>Rank:</label>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
            </select>
            <input type="submit" value="Rank Pet">
        </form>
    </tr>
    <br>
    </body>
    <%- include('../partials/footer') %>