<%- include('../partials/header') %>
  <div id="home">
    <tr>
      <td>
        <div id="name">
          <%= pet.petName %>
        </div>
      </td>
      <br>
      <td>
        <%= pet.title %>
      </td>
      <br>
      <br>
      <div id="date-created">
        <%= pet.createdAt.toLocaleDateString() %>
      </div>
      <td>
        <img src="<%= pet.petImg %>" alt="" id="posts">
      </td>
    </tr>
  </div>
  <br>

  <form id="add-rank-form" method="POST" action="/ranks/<%= pet._id %>">
    <div class="rate">
      <input type="radio" id="star5" name="ranking" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="ranking" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="ranking" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="ranking" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="ranking" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
    <input type="submit" value="Rate!" class="button" id="rate-button">
  </form>
  <% if (pet.ranks.length) { %>
    <table>
      <thead>
      </thead>
      <tbody>
        <% let sum=0; %>
          <% pet.ranks.forEach(function(r) { %>
            <% sum +=r.ranks %>
              <tr>
                </td>
                <td>
                  <div id="home">
                    <div id="rankings">
                      <%= r.ranking %>
                        <%= r.ranking>= 2 ? "Stars" : "Star" %>
                    </div>
                    <%= r.createdAt.toLocaleDateString() %>
                  </div>

                </td>
                <td>
                  <div id="edit-delete">

                    <% if ( user?._id.equals(r.user) ) { %>
                      <form action="/ranks/<%= r._id %>?_method=DELETE" method="post">
                        <button type="submit" class="button">Delete</button>
                      </form>
                      <% } %>

                        <% if ( user?._id.equals(r.user) ) { %>
                          <a href="/ranks/<%= r._id %>/edit">
                            <button type="submit" class="button">I change my mind..</button>
                          </a>
                          <% } %>
                </td>
              </tr>
              <% }); %>
                <tr>
                  </div>
                  <td colspan="3"></td>
                  <td>
                  </td>
                </tr>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Reviews Yet</h5>
      <% } %>
        </tr>
        <br>
        </body>
        <%- include('../partials/footer') %>